The python coding in this project was completed within Google Colab https://colab.research.google.com/, as it is a hosted Jupyter Notebook service that requires no setup to use, hence it is recommended to use Colab reading this project for easiness, the only technical requirement is having a Google account to sign in Colab in order to utilise full features.  

Below requirements are already satisfied in the project coding, listed for information if tools other than Google Colab need to be used to run the ipynb file. 

Libraries
matplotlib==3.10.8
numpy==2.0.2
pandas==2.2.2
seaborn==0.13.2
panel==1.8.10
hvplot==0.12.2

Installations 
!pip install panel jupyter_bokeh
!pip install hvplot

Clone repository
! git clone https://github.com/zhangwiki86-soton/L7---Data-Analysis-and-Visualisation.git
